$white: #fff;
$grey-transparent: #e0e5f12e;
$grey-blue: #ccd2dd59;
$blue: #3367D6;
$blue-light: #4374e0;
$blue-light1: #488AE1;
$blue-lighter2: #a0bdff;
$blue-lighter: #F7F5FB;
$blue-dark: #2850A8;
$blue-darker:#424F60;
$blue-transparent: #2851a8dc;
$green: #00c853;
$shadow: #a6acbadb;
$yellow: #ffd700;
$yellow-dark: #F0A900;
$grey1: #28282866;
$grey2: #28282855;
$grey3: #3c3c3c;
$grey4: #3c3c3cc2;
$rose: #ff7192;
$black: #000;
$black-transparent: rgba(0, 0, 0, 0.592);

$decktop-width:1600px;
$tablet-width: 767px;
$mobile-width: 520px;
