.header{
    
    background-color: transparent;    
    color: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    &__container {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        justify-content: center;
        align-items: flex-start;
        background-color: $blue;
        min-height: 70px;
        background: linear-gradient(45deg,$blue 0%,$blue-light 100%);
        transition: .5s;

        @include tablet {
            justify-content: space-around;
            padding: 0 17px;
        }
    }

    &__container_active {
        background: $white;
        transition: .5s;
        box-shadow: 0 10px 10px $shadow2;
        justify-content: space-between;
        padding: 0 30px;
    }

    &__logo, &__info, &__phones {
        width: 30%;
        display: flex;     
    }

    &__logo {
        align-items:flex-start;
        flex-direction: row;
        justify-content: flex-start;
        margin: auto 0;
        text-align: left;

        @include tablet {
            display: none;
        }
    }

    &__container_active &__logo {
        display: none;
    }

    &__logo-link {        
        margin: 0 15px 0 0;
    }

    &__logo-img {
        max-width: 50px;
        height: auto;
        display: block;       
    }

    &__logo-img:hover {
        cursor: pointer;
    }

    &__logo-name {
        color: $white;
        text-decoration: none;
        font-size: 21px;
        line-height: 25px;
        font-weight: 600;
        display: inline-block;
    }

    &__logo-name:hover {
        cursor: pointer;
    }

    &__logo-sub-name {
        color: $white;
        text-decoration: none;
        font-size: 20px;
        font-weight: 200;
        display: block;
    }

    &__info {
        align-items:center;
        flex-direction: column;
        justify-content: center;
        margin: auto 0;
    }

    

    &__container_active &__info {        
        align-items:center;
        flex-direction: row;
        justify-content: flex-start;
        width: 65%;
    }

    &__info-btn {
        color: $white;
        border: 1px solid $white;
        border-radius: 20px;
        font-size: 12px;
        line-height: 15px;
        padding: 6px 15px;
        background-color: $blue;
        text-decoration: none;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;

        @include tablet {
            background-color: $yellow;
            color: $blue-darker;  
            border-radius: 4px;
            font-size: 18px;
            line-height: 25px;
            text-transform: uppercase;
        }
    }

    &__info-btn:hover{
        cursor: pointer;
        text-decoration: none;        
    }

    &__container_active &__info-btn {
        font-size: 14px;
        background: $yellow-dark;
        padding: 12px 15px;
        border: none;
        border-radius: 28px;
        color: $blue-darker;
        min-width: 250px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        display: none;
        margin-right: 10px;

        @include tablet {
            display: block;
            font-size: 14px;
            padding: 8px 10px;
            min-width: 200px;
        }
    }

    &__container_active &__info-btn:hover {
        background: $yellow;
    }

    &__info-btn_color {
        position: fixed;
        transform: scale(0);
    }

    &__container_active &__info-btn_color {
        position: relative;
        transform: scale(1);
        display: block;

        @include desktop {
            font-size: 12px;
        }

        @include tablet {
            display: none; 
            position: fixed;
            transform: scale(0);         
        }
    }

    &__info-time {
        text-align: center;        
        font-size: 15px;
        line-height: 22px;
        font-weight: 300;        
        margin-top: 10px;

        @include tablet {
            display: none;          
        }
    }

    &__container_active &__info-time {
        display: none;
    }

    

    &__phones {
        align-items:flex-end;
        flex-direction: column;
        justify-content: center;
        margin: auto 0;
        min-height: 100px;        

        @include tablet {
            width: 60%;
            min-height: 70px;
            z-index: 5;
        }
    }

    &__container_active &__phones {
        width: 35%;
        min-height: 50px;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-items: center;

        @include desktop {
            justify-content: flex-start;
        }

        @include tablet {
            width: 15%;            
            justify-content: flex-start;
        }
    }
    
    &__phones-link {
        color: $white;
        text-decoration: none;       
        font-size: 18px;
        line-height: 30px;
        opacity: .9;

        @include tablet {
            display: none;
        }
    }

    &__phones-link:first-of-type {       
        font-size: 20px;
        line-height: 26px;
        font-weight: 600;
        opacity: 1;

        @include tablet {
            display: block;
            font-weight: 400;
        }
    }

    &__container_active &__phones-link:first-of-type {
        color: $grey-blue-dark;
        font-size: 23px;

        @include desktop {
            font-size: 16px;
        }

        @include tablet {
            display: none;     
        }
    }

    &__container_active &__phones-link:last-of-type {
        display: none;
    }

    // &__phones-link-number {
    //     @include tablet {
    //         display: none;
    //     }
    // }


    &__phones-link-number::before {
        content: "";
        width: 16px;
        height: 16px;
        background: url('../img/icons/phone_icon.png');
        background-repeat: no-repeat;
        background-size: 16px;
        display: inline-block;
        margin: 0 7px 0 0;

        @include tablet {
            display: none;
            width: 36px;
            height: 36px;
            background-size: 26px;
            background-position: center;
            border: 2px solid $white;
            border-radius: 50%;          
        }
    }

    &__container_active &__phones-link-number::before {
        display: none;
    }

    &__phones-link-img {
        display: none;
    }

    &__container_active &__phones-link-img {
        display: block;
        max-width: 30px;
        height: auto;
        margin: 0 10px 0 0;

        @include desktop {
            max-width: 20px;
        }

        @include tablet {
            display: block;
            max-width: 40px;
            margin: 0;
        }
    }

    &__menu {
        background-color: $blue-dark;
        flex-basis: 100%;
        padding: 0 5%;

        @include tablet {
            flex-basis: auto;
            padding: 0;
            background-color: transparent;
        }
    }

    &__container_active &__menu {
        display: none;
    }
}