.quest {
    padding: 30px 0;

    &__form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 320px;
    }

    &__form-border {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }

    &__input {
        width: 100%;
        margin: 0 0 15px 0;
        outline: none;
        border: 1px solid $blue-darker;
        color: $grey4;
        padding: 10px 15px;
        text-align: center;
        background: none;
        font-size: 20px;
        border-radius: 3px;
        position: relative;
    }

    &__input+&__label{
        display: none;
    }

    &__input.error+&__label{        
        display: inherit;
        width: 200px;
        position: absolute;
        top: -33px;
        left: calc(50% - 100px);
        z-index: 1;
        color: $rose;
        font-size: 13px;
        line-height: 16px;
    }


    &__btn-submit {
        width: 100%;
        margin: 0 0 30px 0;
        outline: none;
        border: 1px solid $blue-darker;
        color: $grey2;
        padding: 10px 15px;
        text-align: center;
        background: $blue-darker;
        font-size: 20px;
        color: $white;
        border-radius: 3px;
        opacity: 1;
    }

    &__btn-submit:hover {
        opacity: .8;
        cursor: pointer;
    }


}