.mainform {
    display: block;
    width: 100%;
    height: 100%;
    background: $grey4;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -20;
    opacity: 0;
    transition: .2s;

    @include mobile {        
        display: flex;
        flex-direction: row;
        align-items: flex-start;        
    }

    &__active {        
        z-index: 1000;
        opacity: 1;
        transition: .1s;
    }
    
    &__box {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 30px;
        left:calc(50% - 200px);
        width: 95%;
        max-width: 400px;
        margin: auto;
        background: $white;
        padding: 30px 10px;
        border-radius: 15px;
        color: $black;

        @include mobile {        
            position: relative;
            left: 0;
            top: 0;
            margin: 10px auto;
        }
    }

    &__title {
        font-size: 25px;
        text-align: center;
        margin: 0 0 20px 0;
        color: $blue-darker;
        font-weight: 600;
        text-transform: uppercase;
    }

    &__desc {
        display: block;
        max-width: 80%;
        font-size: 15px;
        line-height: 15px;
        text-align: center;
        margin: 0 auto 20px auto;
        color: $grey3;
    }

    &__input {
        width: 100%;
        max-width: 300px;
        border-radius: 25px;
        padding: 10px 8px;
        font-size: 18px;
        line-height: 18px;
        font-weight: 600;
        color: $grey3;
        text-align: center;
        border: 2px solid $grey1;                      
        margin: 0 auto 30px auto;
        text-transform: uppercase;
    }

    &__input:focus {
        border: 2px solid $grey5;
        outline:none;
    }

    &__input::placeholder {
        font-weight: 300;
        text-transform: none;
        color: $grey1;
        font-size: 20px;
    }

    &__btn {
        display: block;
        width: 100%;
        max-width: 300px;
        margin: 0 auto 20px auto;
        background: $yellow-dark;
        border: none;
        padding: 12px 10px;
        border-radius: 25px;
        @include font(16px, 17px, 700);
        text-transform: uppercase;
        color: $black;
    }

    &__btn:hover {
        background: $yellow;
        cursor: pointer;
    }

    &__privacy {
        display: block;
        width: 99%;
        margin: 0 auto;
        text-align: center;
    }

    &__checkbox {
        display: none;
    }

    &__policy-label {
        position: relative;
        width: 100%;
        color: $blue-darker;
        margin: 0 0 0 35px;        
        @include font(14px, 17px, 400);
    }

    &__policy-label:before {
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        top: 3px;
        left: -20px;
        border: 1px solid $grey5;
        border-radius: 3px;
    }

    &__checkbox.error &__policy-label:before {
        border-color: $rose;
    }

    &__checkbox:checked+&__policy-label:after {
        content: "✓";
        width: 16px;
        height: 16px;
        position: absolute;
        top: -2px;
        left: -21px;
        background-repeat: no-repeat;
        background-size: 14px 14px;
        z-index: 1;
        color: $grey5;
        font-weight: 600;
        font-size: 18px;
    }

    &__checkbox.error &__policy-label:before {
        box-shadow: 0 0 0 2px $rose;
    }


}