$white: #fff;
$grey-transparent: #e0e5f12e;
$grey-blue: #ccd2dd59;
$grey-blue-dark: #6782b2;
$blue: #3367D6;
$blue-light: #4374e0;
$blue-light1: #488AE1;
$blue-lighter2: #a0bdff;
$blue-lighter3: #B8C3FF;
$blue-lighter: #F7F5FB;
$blue-dark: #2850A8;
$blue-darker:#424F60;
$blue-transparent: #2851a8dc;
$green: #00c853;
$green2: #19bb67;
$green3: #19bb67b3;
$shadow: #a6acbadb;
$shadow2:#75787f2e;
$yellow: #ffd700;
$yellow-dark: #F0A900;
$grey1: #28282866;
$grey2: #28282855;
$grey3: #3c3c3c;
$grey4: #3c3c3ced;
$grey5: #26262691;
$rose: #ff7192;
$black: #000;
$black-transparent: rgba(0, 0, 0, 0.592);

$desktop-width:1000px;
$tablet-width: 769px;
$mobile-width: 521px;